/*!
 * 225Apartments.com Search CSS v1.0
 *
 * Copyright 2013 MetaRent, LLC
 * http://www.metarentllc.com
 *
 * Built by James Hume and Taylor Lapeyre
 */

/**************************/
/* Default override style */



/********************/
/* Search bar style */
.search-bar {
  position:absolute; 
  display: block; 
	width: 100%;
	background-color: #333;
}


/**************************/
/* Search container style */
.search-container {
  position: fixed;
  width: 100%; 
  height: 100%; 
}



/*********************/
/* Google maps style */
.google-maps {
	display: block;
	width: 72%;
	height: 100%;
	background-color: #666;
}



/**************/
/* List style */
.list {
	display: block;
	width: 28%;
	height: 100%%;
	background-color: #888;
}