/*!
 * 225Apartments.com Base CSS v1.0
 *
 * Copyright 2013 MetaRent, LLC
 * http://www.metarentllc.com
 *
 * Built by James Hume and Taylor Lapeyre
 */




/*****************************/
 /* Default attribute styles */
a {
  color: #991b1f;
}

input[type="text"], select {
  display: inline-block;
  height: 25px;
  padding: 8px 12px;
  margin-bottom: 10px;
  font-size: 17.5px;
  line-height: 20px;
  color: #555;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  vertical-align: middle;
}

select {
  height: 45px;
}




/****************/
/* HTML5 styles */
body {
  height: 100%;
  background-color: #efefef;
}

header {
  height: 58px !important;
}

header h1 a {
  text-decoration: none;
  font-weight: 700;
  color: #333;
  font-size: 0.85em;
}

header h1 a:hover {
  text-decoration: none;
  color: #333;
}

footer {
  background-color: #efefef;
}




/***************************/
/* Header/Navigation style */
.header-container {

}

.page-header {
  padding: 0;
  margin: 0;
  border: none;
  width: 940px;
  margin: 0 auto;
  background-color: #fff;
}

.logo-container {
  /*height: 51px;*/
  width: 325px;
  padding-top: 3px;
}

.logo-image {
  padding-top: 10px;
}

h1.logo {
  margin: 0;
  padding: 0;
  padding-top: 5px;
}

.nav {
  padding: 0;
  margin: 0;
}

.nav li {
    padding-top: 14px;
}

.nav > li > a:hover {
  text-decoration: none;
  background-color: #fff;
  color: #333;
}

.nav-pills > li > a:hover {
  padding-top: 8px;
  padding-bottom: 8px;
  margin-top: 2px;
  margin-bottom: 2px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.nav a {
  color: #991b1f;
}

a.nav-a-inactive {
  color: #333;
}

li.divider {
  display: block;
  margin: 0;
  height: 45px;
  width: 1px;
  background-color: #efefef;
}




/*********************/
/* Main banner style */
#map_canvas {
  position:absolute;
  display: block;
  width: 100%;
  height: 450px;
  background-image:url('../images/river_bridge.png');
  background-position: center;
  background-repeat:no-repeat;
}

#nav-bottom {
  position: absolute;
  top: 58px;
  height: 9px;
  width: 100%;
  background-image: url('../images/maps-top.png');
  background-repeat: repeat-x;
}

#maps-bottom {
  margin-top: 10px;
  height: 10px;
  width: 100%;
  background-image: url('../images/maps-bottom.png');
  background-repeat: repeat-x;
}




/********************/
/* Search bar style */





/************************/
/* Call to action style */
/*
#cta {
  position: absolute;
  top: 290px;
  width: 100%;
  display: block;
  background-repeat: no-repeat;
}

.cta {
  display: block;
  width: 625px;
  height: 145px;
  background-color: #a12f32;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -moz-box-shadow:0px 0px 10px 3px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow:0px 0px 10px 3px rgba(0, 0, 0, 0.75);
  box-shadow:0px 0px 10px 3px rgba(0, 0, 0, 0.75);
  padding: 30px;
  margin: 0 auto;
  opacity: 0.95;
}

h1.homepage-title {
  color: #fff;
  font-size: 26px;
  padding: 0;
  margin: 0;
  line-height: inherit;
}

.cta-divider-dark {
  margin-top: 20px;
  display: block;
  width: 625px;
  height: 1px;
  background-color: #952a2b;
}

.cta-divider-light {
  margin-bottom: 20px;
  display: block;
  width: 625px;
  height: 1px;
  background-color: #a83f40;
}

.cta-content p {
  color:#fff;
}
*/




/*****************/
/* Content style */
.bg {
  background-color: #efefef;
  padding: 450px 0 10px 0;
}

.content {
  width: 940px;
  background-color: #fff;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.05);
  box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.05);
  padding: 20px;
}




/****************/
/* Footer style */
.footer {
  display: block;
  width: 940px;
  margin: 0 auto;
  padding: 10px 0 0 0;
}

.footer .row {
  margin-left: 0;
}



/**************/
/* Misc style */
.field_with_errors input {
  border-color: #B94A48 !important;
  border: 1px solid #B94A48 !important;
 }

.search-bar {
  text-align: right;
  font-weight: 100;
  position: relative;
  top: 20px;
}


.search-box {
  background: transparent !important;
  border: none !important;
  -webkit-box-shadow: none !important;
  height: 50px !important;
  width: 400px !important;
  font-size: 3em !important;
  font-weight: 100;
  text-align: right;
  line-height: 1em !important;
  padding: none !important;
  vertical-align: baseline !important;
  clear: both;
  display: block;
  position: relative;
  top: -10px;
}
