body {
  font-size: 100%;
  font-family: sans-serif;
  line-height: 1.4em !important;
  text-rendering: optimizeLegibility;
  -webkit-font-rendering: antialiased;
  color: #333;
  background: #efefef;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.dark {
  background: #2b2b2b;
}

.site-header {
  width: 100%;
  min-height: 60px;
  line-height: 60px; /* vertically align text - must be the same as height */
  box-shadow: 1px 2px 7px #000;
  padding-top: 4px;
  z-index: 1000;
  position: fixed;
  background: #fff;
}

.logo {
  display: inline;
  padding-left: 2%;
}

  .logo a {
    font-weight: 700;
    color: #333;
    letter-spacing:-1px
  }

  small.logo-small {
    font-size: 0.6em;
    color: #777;
    font-weight: normal;
    letter-spacing: 0px;
  }

.site-nav {
  float: right;
  padding-right: 2%;
}

  .site-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .site-nav li {
    float: left;
    padding: 0 10px;
    border-left: 1px solid #efefef;
  }

    .site-nav li.site-nav-end {
    float: left;
    padding: 0 10px 0 10px;
    border-left: 1px solid #efefef;
    border-right: 1px solid #efefef;
  }

  .site-nav a {
    color: #333;
  }

  .site-nav a:hover {
    color: rgb(130, 6, 20) !important;
  }


.home-image-frame {
  padding-top: 5%;
  width: 100%;
  min-height: 100%;
  position: relative;
}

.search-container {
  position: relative;
  left: 5%;
  top: 150px;
  width: 95%;
  height: 30%;
  padding: 10px 10px 10px 0;
}

  .search-container h2 {
    font-size: 3.5em;
    line-height: 1em;
    color: #FFF;
    font-weight: 600;
    margin: 0;
    text-shadow: 0 0 4px #444;
  }

  .search-container a {
    color: #fff;
    text-decoration: underline;
    padding-left: 7px;
  }

  .home-search-bar {
    width: 150%;
    height: 43px !important;
    font-size: 1.4em !important;
    vertical-align: baseline !important;
  }

  .home-search-button {
    position: relative;
    top: -6px;
    font-size: 1.3em !important;
    color: #444;
  }

  .input-append .add-on, .input-prepend .add-on {
    display: inline-block;
    width: auto;
    height: 43px;
    min-width: 16px;
    padding: 4px 5px;
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
    text-align: center;
    text-shadow: 0 1px 0 white;
    background-color: #EEE;
    border: 1px solid #CCC;
  }

.home-about {

  border-bottom: 1px #ddd solid;
}
.home-about h2 {
  margin: 0;
  text-transform: lowercase;
  padding-top: 10px;
}

.home-about-icon {
  font-size: 3em;
  float: left;
  padding-right: 15px;
}

.home-about .row {
  padding-top: 75px;
  padding-bottom: 125px;
}

.row {
  min-width: 97.5%;
}

.row-maps {
  min-width: 100%;
  margin: 20px 0 12px 0;
}

.home-about .columns {
}

.home-about .small-2 {
  padding-left: 20px;
}

.home-about .small-4 {
  padding: 0 10px 0 10px;
}

.home-about .small-6 {
  padding-right: 20px;
}

.home-about-padding {
  margin-bottom: 25px;
}

.sign-up {
  padding: 20px 0 20px 0;
  border-top: 2px #821C1F solid;
  color: #fff;
  background-image: linear-gradient(bottom, #821C1F 34%, #991B1F 67%);
  background-image: -o-linear-gradient(bottom, #821C1F 34%, #991B1F 67%);
  background-image: -moz-linear-gradient(bottom, #821C1F 34%, #991B1F 67%);
  background-image: -webkit-linear-gradient(bottom, #821C1F 34%, #991B1F 67%);
  background-image: -ms-linear-gradient(bottom, #821C1F 34%, #991B1F 67%);
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.34, #821C1F),
    color-stop(0.67, #991B1F)
  );
  opacity: 0.95;
  }

  .sign-up h2 {
  font-size: 1.25em;
  }

.map-container {
  width: 100%;
  height: 100%;
  position: relative;
}

.site-footer {
  width: 100%;
  position: relative;
  margin: 0;
  padding: 2%;
  color: #777;
  border-top: 1px #111 solid;
}

.story {
  height: auto;
  padding: 0;
  margin: 0;
  width: 100%;
  max-width: 1920px;
  position: relative;
  margin: 0 auto;
}

#first {
  background: url(../images/miss-river-bridge.jpg) 50% 20px no-repeat fixed;
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  min-height: 85%;
}

#third {
  background: url(http://mapsys.info/wp-content/uploads/2010/08/NY-Google-Maps-17-40-quality-preview.jpg) 0 0 repeat fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 97.5%;
  height: 6em;
}

#first article {
  width: 100%;
  position: relative;
}


#third article {
  width: 100%;
  position: relative;

}

section#third.story {
  -moz-box-shadow:inset 0 0 7px #000000;
  -webkit-box-shadow:inset 0 0 7px #000000;
  box-shadow:inset 0 0 7px #000000;
  -moz-box-shadow: 0 3 12px #fff;
  -webkit-box-shadow: 0 3 12px #fff;
  box-shadow: 0 3 12px #fff;
  -webkit-border-radius: 12px; 
  -moz-border-radius: 12px; 
  border-radius: 12px;
  display: block;
  float: left;
}