<!-- useful code -->

<div id="cta">
  <div class="cta">
    <div class="cta-content">
      <h1 class="homepage-title">What Is 225Apartments?</h1>
      <div class="cta-divider-dark">
      </div><!-- end cta-divider-dark -->
      <div class="cta-divider-light">
      </div><!-- end cta-divider-light -->
      <p>225Apartments is a network of websites built to help people find the best apartments for them, and to help apartment managers in Louisiana list their apartments to a wide, but local audience.</p>
      <p>Our goal is to be the #1 apartment finding resource for Louisiana college students and residents, and the best place for apartment managers in Louisiana to advertise their listings.</p>
    </div><!-- end cta-content -->
  </div><!-- end .cta -->
</div><!-- end #cta -->